body {
    background-color: #2e204b;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 10;
    padding: 10;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #4b4b4d;
    border-radius: 10px;
}

h1 {
    text-align: left;
}
h2 {
    text-align: left;
    font-size: 20px;
}
input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #563d91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    background-color: #66428f;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
li:hover {
    background-color: #9e7cc4;
}
li span {
    flex-grow: 1;
    align-self: left;
}
.deletebutton {
    margin-left: 5px;
}
.state-node {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}
.state-circle {
    fill: #2e204b;
    stroke: #9e7cc4;
    stroke-width: 2;
}
.state-text {
    fill: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
.state-node:hover .state-circle {
    fill: #4a3375;
    cursor: pointer;
}
.transition-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}
.transition-table th,
.transition-table td {
    border: 1px solid #9e7cc4;
    padding: 8px;
}
.transition-table th {
    background-color: #563d91;
    font-size: 1.2em;
}
.transition-select {
    width: 100%;
    background-color: #2e204b;
    color: #fff;
    border: 1px solid #9e7cc4;
    border-radius: 4px;
    padding: 5px;
    font-size: 1em;
}
