body {
    background-color: #2e204b;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 10;
    padding: 10;
}

.container{
    max-width: 500px;
    margin: 30 px auto;
    padding: 20 px;
    background-color: #3f2b68;
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 20px;
}

input{
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #563d91;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

ul{
    list-style-type: none;
    padding: 0;    
}

li{
    padding: 10px;
    background-color: #66428f;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li.hover{
    background-color: #9e7cc4;
}

li span{
    flex-grow: 1;
    align-self: left;
}

.deletebutton{
    margin-left: 5px;
}

